/* GOOGLE FONTS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Proza+Libre:ital,wght@0,400;0,700;1,400&display=swap');
/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Proza Libre', sans-serif; 
*/

/* MAIN COLORS */
:root {
    --prussian-blue: #002c3dff;
    --midnight-green: #005f73ff;
    --dark-cyan: #0a9396ff;
    --tiffany-blue: #94d2bdff;
    --eggshell: #f7f1deff;
    --gamboge: #ee9b00ff;
    --alloy-orange: #ca6702ff;
    --rust: #bb3e03ff;
    --rufous: #ae2012ff;
    --auburn: #9b2226ff;
}

/* ALL PAGES */
body{
    background-color: var(--prussian-blue);
    color: var(--eggshell);
    font-family: 'Proza Libre', sans-serif; 
    text-align: center;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
    max-width: 95vw;
}

h1{
    font-weight: 700;
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

.white-txt{
    color: var(--eggshell);
}

.modular_block{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    padding: 1rem;
    min-height: 30vh;
}

.page-nav{
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--eggshell);
    color: var(--midnight-green);
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    color: var(--auburn);
}

/* INDEX PAGE */

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#introText{
    max-width: 650px;
}

.highlight{
    color: var(--gamboge);
    font-weight: bold;
    font-size: 1.5rem;
}

.bar-text{
    color: var(--prussian-blue);
    font-family: 'Proza Libre', sans-serif;
    font-size: 1rem;
}
.axis { 
    color: var(--prussian-blue);
    font-family: 'Proza Libre', sans-serif;
    font-size: 13px;
}

.axis-label {

}
/* EXPLORE PAGE  */

/* #histogramRace {
    height: 400px;
    width: 50%;
} */

.tooltip {
    background-color: #FDF7E4;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    color: var(--prussian-blue);
}

#lineChartBrush {
    height: 200px;
    width: 50%;
}

.viz-2 {
    flex-direction: column;
}

#play-button{
    position: absolute;
    left: 3vw;
    background-color: var(--tiffany-blue);
    color: var(--midnight-green);
    border: none;
}

.brush > .selection {
    stroke-opacity: 0.3;
}
.axis-ticks, .tick, .axis-labels, .axis-label, .y-axis, .x-axis {
    color: var(--prussian-blue);
    font-family: 'Proza Libre', sans-serif;
}

/* SOLUTION PAGE */