/* GOOGLE FONTS IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Proza+Libre:ital,wght@0,400;0,700;1,400&display=swap');
/* 
font-family: 'Cormorant Garamond', serif;
font-family: 'Proza Libre', sans-serif; 
*/

/* MAIN COLORS */
:root {
    --prussian-blue: #002c3dff;
    --midnight-green: #005f73ff;
    --dark-cyan: #0a9396ff;
    --tiffany-blue: #94d2bdff;
    --eggshell: #fffdf8;
    --gamboge: #ee9b00ff;
    --alloy-orange: #ca6702ff;
    --rust: #bb3e03ff;
    --rufous: #ae2012ff;
    --auburn: #9b2226ff;
}

/* ALL PAGES */
body{
    background-color: var(--prussian-blue);
    color: var(--eggshell);
    font-family: 'Proza Libre', sans-serif; 
    text-align: left;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.container{
    max-width: 95vw;
}

h1{
    font-weight: 700;
    font-size: 2rem;
}

h2{
    font-size: 1.5rem;
}

.white-txt{
    color: var(--eggshell);
}

.blue-txt{
    color: var(--prussian-blue);
}

.modular_block{
    background-color: rgba(255, 253, 248, 0.9);
    border-radius: 1rem;
    padding: 1rem;
    min-height: 30vh;
}

.page-nav{
    display: flex;
    justify-content: center;
}

.button {
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: var(--eggshell);
    color: var(--midnight-green);
    border-radius: 5px;
    cursor: pointer;
    border: none;
    line-height: normal;
}

.button:hover {
    color: var(--auburn);
}

.footer{
    width: 100%;
    background-color: var(--midnight-green);
    padding: 1rem 0;
}

.rounded-circle{
    background-color: var(--eggshell);
    width: 1rem;
    height: 1rem;
} 

.active{
    background-color: var(--tiffany-blue);
}

/* INDEX PAGE */

.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#introText{
    max-width: 650px;
}

.highlight{
    color: var(--gamboge);
    font-weight: bold;
    font-size: 1.5rem;
}

.bar-text{
    color: var(--prussian-blue);
    font-family: 'Proza Libre', sans-serif;
    font-size: 1rem;
}

.axis { 
    color: var(--prussian-blue);
    font-family: 'Proza Libre', sans-serif;
    font-size: 13px;
}

.subtext{
    text-align:left;
    font-size: 0.75rem;
    font-style: italic;
}

.chart-title{
    margin-bottom: 0px;
    color: var(--midnight-green);
}

.orange{
    color: var(--alloy-orange);
}

.red{
    color: var(--auburn);
}

.blue{
    color: var(--tiffany-blue);
}

.skinny-container{
    max-width: 50vw;
}

.x-axis-label{
    font-size: 1rem;
    color: var(--midnight-green);
}

/* EXPLORE PAGE  */

/* #histogramRace {
    height: 400px;
    width: 50%;
} */

.selection{
    fill: var(--midnight-green);
    stroke: var(--tiffany-blue);
    opacity: 0.9;
}

.modular_block_short{
    background-color: rgba(255, 253, 248, 0.9);
    border-radius: 1rem;
    padding: 1rem;
    height: 10vh;
}

.tall{
    height: 45vh; 
}

.tooltip {
    background-color: var(--eggshell);
    padding: 1rem;
    border: 2px solid var(--midnight-green);
    border-radius: 5px;
    color: var(--prussian-blue);
}

#lineChartBrush {
    height: 200px;
    width: 50%;
}

.viz-2 {
    flex-direction: column;
}

#play-button{
    position: absolute;
    left: 3vw;
    background-color: var(--tiffany-blue);
    color: var(--midnight-green);
    border: none;
}

.brush > .selection {
    stroke-opacity: 0.3;
}
.axis-ticks, .tick, .axis-labels, .axis-label, .y-axis, .x-axis {
    color: var(--prussian-blue);
    font-family: 'Proza Libre', sans-serif;
}
#timeline .tick{
    font-size: 1.25rem;
}

#currentYear{
    font-size: 1.5rem;
    font-weight: bold;
}

/* SOLUTION PAGE */
#main-content{
    margin-top: 4rem;
}

#mortgage-calc{
    text-align: left;
}
.maptooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 28px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#map {
    min-height: 60vh;

}

#map-svg {
    transform: perspective(600px) rotateX(20deg);
    transform-origin: bottom;
}

#mapDoubleLineChart {
    height: 30vh;

}


/*#line-graph-canvas {*/
/*    transform: perspective(800px) rotateX(55deg);*/
/*    transform-origin: bottom;*/
/*}*/

.result_block{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 1rem;
    padding: 1rem;
    color: var(--prussian-blue);
}

#sourcesModal{
    display: none;
    justify-content: center;
    z-index: 99;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.modalDiv{
    width: 75vw;
    border-radius: 10px;
    background-color: var(--eggshell);
    color: var(--prussian-blue);
    padding: 1rem;
    border: 2px solid var(--midnight-green);
    position: relative;
}

h3{
    font-size: 1.25rem;
    font-weight: bold;
}

.modalDiv p , .modalDiv a{
    font-size: 1rem;
}

.modalDiv button{
    position: absolute;
    right: 1rem;
    border: none;
    font-weight: bold;
    color: var(--midnight-green);
    background-color: var(--tiffany-blue);
}
.modalDiv button:hover{
    color: var(--eggshell);
}